{
  "ignore": [
    "test",
    "babel-plugin-transform-import-extension.mjs"
  ],
  "plugins": [
    "add-module-exports",
    "transform-es2015-modules-commonjs",
    "./babel-plugin-transform-import-extension.mjs"
  ]
}
