{
  "ignore": [
    "test",
    "babel-plugin-transform-import-extension.mjs"
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    "./babel-plugin-transform-import-extension.mjs"
  ]
}
